[submodule "Frameworks/SFNetKit"]
	path = Frameworks/SFNetKit
	url = git@github.com:mcsh0k/SFNetKit.git
[submodule "Frameworks/SFUIKit"]
	path = Frameworks/SFUIKit
	url = git@github.com:mcsh0k/SFUIKit.git